<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        ngModel
        name="email"
        type="email"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
        >Please enter a valid e-mail</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        ngModel
        type="password"
        name="password"
        #passwordInput="ngModel"
        required
        minlength="6"
      />
      <mat-error
        *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
        >Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading" [disabled]="loginForm.invalid">Login</button>
  </form>
</mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
