button {
  display: flex;
  align-self: end;
  width: 150px;
}

textarea {
  width: 100%;
  font-size: 1.2rem;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}

mat-card {
  padding: 1rem;
}

mat-spinner {
  margin: 0 auto;
}

.mb-1 {
  margin-bottom: 8px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
