<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
      <mat-error
        *ngIf="
          form.get('title')?.invalid &&
          (form.get('title')?.dirty || form.get('title')?.touched)
        "
        >Please enter a post title</mat-error
      >
    </mat-form-field>

    <div class="mb-1">
      <button mat-stroked-button (click)="filePicker.click()">
        Pick Image
      </button>
      <input
        type="file"
        name="image"
        #filePicker
        (change)="onImagePicked($event)"
        enctype="multipart/form-data"
      />
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.get('title')?.value" />
    </div>

    <mat-form-field>
      <mat-label>Content</mat-label>

      <textarea
        matInput
        rows="6"
        name="content"
        formControlName="content"
      ></textarea>
      <mat-error
        *ngIf="
          form.get('content')?.invalid &&
          (form.get('content')?.dirty || form.get('content')?.touched)
        "
        >Please enter a post content</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      {{ mode === "create" ? "Save Post" : "Update Post" }}
    </button>
  </form>
</mat-card>
